<h1><%= @post.title %></h1>
<p><%= @post.message %><p>

<p>
   <% @post.tags.each do |tag| %>
       <%= link_to "#{tag.name}", tag, class: "btn btn-primary btn-xs" %>
   <% end %>
</p>

<%= link_to 'Delete', post_path, class: "btn btn-default", method: :delete %>
<%= link_to 'Back', root_path, class: "btn btn-default" %>
